- import net.shantitree.calm.HtmlHelpers._
-@ val addition:Addition
- attributes("sectionTitle") = "hello calm"
- addToHeader(addition, <script></script>)

div(style="text-align: center; margin-top: 50px;") 
  / @helpers.img()("underconstruction.png")
div(style="color:#5679b5; text-align: center; margin-top: 50px") 
  h2 Under Construction
  h2 อยู่ระหว่างการสร้าง
